
.form-logout {
    margin-left: auto;
    margin-right: 0rem;
    margin-top: 4rem;
    background: white;
    width: 17rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    height: 31rem;
    box-shadow: 4px 4px 4px 4px rgba(233, 235, 236, 0.2);
    border-radius: 6px;

  }

  .form-login {
    margin-left: auto;
    margin-right: 0rem;
    margin-top: 4rem;
    background: white;
    width: 17rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    height: 26rem;
    box-shadow: 4px 4px 4px 4px rgba(233, 235, 236, 0.2);
    border-radius: 6px;

  }

  .form-text {
    text-align: left;

  }
  
  /* .form-box  {
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    
  } */

  .form-control{
    height: 1.8rem;
  }
  
  .form-btn {
    background-color: #4A278C;
    
    color: white; 
    border-color:  #4A278C;
    border-radius: 5px;
   
  }